name: script build
on:
  push:
    paths:
      - 'src/**'
      - 'scripts/**'
      - '.github/**'
      - 'package.json'
      - 'yarn.lock'
      - 'vite.config.js'
    branches:
      - master
      - dev
  pull_request:
    paths:
      - 'src/**'
      - 'scripts/**'
      - '.github/**'
      - 'package.json'
      - 'yarn.lock'
      - 'vite.config.js'
    branches:
      - master
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          yarn-version: 'stable'
          cache-dependency-path: yarn.lock
      - run: corepack enable
      - run: yarn install
      - run: yarn build
      - uses: actions/upload-artifact@v4
        with:
          name: easy-upload.user.js
          path: dist
